.form_container {
  padding: 3em;
}

.form_container h1 {
  margin-bottom: 0.5em;
  font-weight: 600;
  border-left: 5px solid;
  border-color: var(--bg-color);
  padding-left: 15px;
}

.form_container p {
  color: #7b7b7b;
}

.form {
  width: 100%;
  margin: 2em 0;
}

.form label {
  font-weight: 600;
}

.form button {
  background-color: var(--bg-color);
  border: 0;
  color: var(--text-color-white);
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
  transition: .5s;
}

.form button:hover {
  background-color: #1bdda3;
}

.form_container_delete {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.form_container_delete button {
  background-color: rgb(241, 25, 25);
  border: 0;
  color: var(--text-color-white);
  padding: 10px 70px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
  transition: .5s;
}

.form_container_delete button:hover {
  background-color: rgb(195, 33, 33);
}

.form_container_delete a {
  background-color: var(--bg-color);
  border: 0;
  color: var(--text-color-white);
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
  transition: .5s;
}

.form_container_delete a:hover {
  filter: brightness(0.9);
  transition: filter 0.5s ease;
}

.form_gap {
  display: grid;
  justify-content: center;
  gap: 10px;
}